数据预处理

创建一个人工数据集，并存储在csv（逗号分隔值）文件

In [13]:
import os 

os.makedirs(os.path.join('..','data'), exist_ok=True)
data_file = os.path.join('..','data','house_tiny.csv')
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2.0,NA,106000\n')
    f.write('4.0,NA,178100\n')
    f.write('NA,NA,140000\n')

从创建的csv文件中加载原始数据集

In [14]:
import pandas as pd
data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

 为了处理缺失的数据，典型的方法包括插值和删除， 这里，我们将考虑插值 iloc(indexlocation)

In [43]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs['NumRooms'] = inputs['NumRooms'].fillna(3)
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

对于inputs中的类别值或离散值，我们将“NaN”视为一个类别,get_dummies() 用于将分类变量（如字符串列）转换为虚拟变量（也叫独热编码）,dummy_na=True：这个参数控制是否将缺失值（NaN）也转化为一个新的虚拟变量列

In [44]:
inputs = pd.get_dummies(inputs,dummy_na=True)
inputs[inputs.columns[1:]] = inputs[inputs.columns[1:]].astype(int)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

现在inputs和outputs中的所有条目都是数值类型，它们可以转换为张量格式

In [45]:
import torch
a,b = torch.tensor(inputs.values),torch.tensor(outputs.values)
a,b

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))